In [191]:
%logstop
%logstart -rtq ~/.logs/dw.py append
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [3]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [4]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

--2020-06-07 06:57:19--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.217.44.244
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.217.44.244|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19011654 (18M) [text/csv]
Saving to: ‘./dw-data/201701scripts_sample.csv.gz’

201701scripts_sampl 100%[===================>]  18.13M  87.4MB/s    in 0.2s

2020-06-07 06:57:19 (87.4 MB/s) - ‘./dw-data/201701scripts_sample.csv.gz’ saved [19011654/19011654]

--2020-06-07 06:57:19--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.217.44.244
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.217.44.244|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18768259 (18M) [text/csv]
Saving to: ‘./dw-data/201606scripts_sample.csv.gz’

201606scripts_sampl 100%[===================>]  17.90M  95.4MB/s    in 0.2s

2020-06-07 06:57:20 (95.4 MB/s) - ‘./dw-data/201606scripts_sample.csv.gz’ saved [18768259/18768259]

--2020-06-07 06:57:20--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.217.44.244
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.217.44.244|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 333225 (325K) [application/x-gzip]
Saving to: ‘./dw-data/practices.csv.gz’

practices.csv.gz    100%[===================>] 325.42K  --.-KB/s    in 0.009s

2020-06-07 06:57:20 (35.1 MB/s) - ‘./dw-data/practices.csv.gz’ saved [333225/333225]

--2020-06-07 06:57:20--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.217.44.244
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.217.44.244|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31829 (31K) [application/x-gzip]
Saving to: ‘./dw-data/chem.csv.gz’

chem.csv.gz         100%[===================>]  31.08K  --.-KB/s    in 0.001s

2020-06-07 06:57:20 (58.9 MB/s) - ‘./dw-data/chem.csv.gz’ saved [31829/31829]

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [3]:
import pandas as pd
import numpy as np
import gzip

In [5]:
# load the 2017 data
scripts_file = gzip.open('./dw-data/201701scripts_sample.csv.gz', 'r')

scripts = pd.read_csv(scripts_file)
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [6]:
practices_file = gzip.open('./dw-data/practices.csv.gz', 'r')

col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
practices = pd.read_csv(practices_file, names=col_names)
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [7]:
chem = pd.read_csv(gzip.open('./dw-data/chem.csv.gz', 'r'))
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [10]:
scripts_sum = scripts[['items','nic','act_cost','quantity']].agg(['sum'])
scripts_sum

       items          nic     act_cost   quantity
sum  8888304  71100424.84  66164096.12  721457006

In [12]:
scripts_describe = scripts.describe()
scripts_describe

               items            nic       act_cost       quantity
count  973193.000000  973193.000000  973193.000000  973193.000000
mean        9.133136      73.058915      67.986613     741.329835
std        29.204198     188.070257     174.401703    3665.426958
min         1.000000       0.000000       0.040000       0.000000
25%         1.000000       7.800000       7.330000      28.000000
50%         2.000000      22.640000      21.220000     100.000000
75%         6.000000      65.000000      60.670000     350.000000
max      2384.000000   16320.000000   15108.320000  577720.000000

In [21]:
def summary_statistics(key):
    desc = scripts[key].describe()
    total = desc['count'] * desc['mean']
    return (total, desc['mean'], desc['std'], desc['25%'], desc['50%'], desc['75%'])

summary_stats = [('items', summary_statistics('items')),('quantity', summary_statistics('quantity')), ('nic', summary_statistics('nic')), ('act_cost', summary_statistics('act_cost'))]

In [22]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score:  1.0
==================

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [25]:
grouped_df = scripts.groupby('bnf_name')['items'].sum()

max_n = grouped_df.max()

In [26]:
most_common_item = [(grouped_df.index[grouped_df == max_n][0], max_n)]

In [27]:
grader.score.dw__most_common_item(most_common_item)

==================
Your score:  1.0
==================

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [28]:
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [29]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

#### Sort values in Practices dataset and merge it with scripts dataset

In [31]:
group=practices.groupby('code')['post_code'].min().reset_index()
merged=scripts.merge(group1, left_on='practice', right_on='code')

In [32]:
total_items_by_postcode = merged.groupby(['post_code','bnf_name'])[['items']].sum()
total_items_by_postcode.head()

                                                    items
post_code bnf_name
B11 4BW   3m Health Care_Cavilon Durable Barrier C      7
          3m Health Care_Cavilon No Sting Barrier       2
          Abasaglar KwikPen_100u/ml 3ml Pf Pen          2
          Abidec_Dps                                   63
          Able Spacer + Sml/Med Mask                    1

#### Total items by  postcode list

In [33]:
total_items_by_postcode.reset_index(inplace=True)
total_items_by_postcode.head()

  post_code                                  bnf_name  items
0   B11 4BW  3m Health Care_Cavilon Durable Barrier C      7
1   B11 4BW   3m Health Care_Cavilon No Sting Barrier      2
2   B11 4BW      Abasaglar KwikPen_100u/ml 3ml Pf Pen      2
3   B11 4BW                                Abidec_Dps     63
4   B11 4BW                Able Spacer + Sml/Med Mask      1

#### Total items by postcode

In [34]:
total_items_max = total_items_by_postcode.groupby('post_code')[['items']].max()
total_items_max.head()

           items
post_code
B11 4BW      706
B12 9LP      425
B18 7AL      556
B21 9RY     1033
B23 6DJ      599

In [37]:
total_items_max.reset_index(inplace=True)
total_items_max.head()

  post_code  items
0   B11 4BW    706
1   B12 9LP    425
2   B18 7AL    556
3   B21 9RY   1033
4   B23 6DJ    599

In [38]:
total_items = total_items_max.merge(total_items_by_postcode, on=['post_code','items'], how = 'left')
total_items.head()

  post_code  items  index                            bnf_name
0   B11 4BW    706   1628  Salbutamol_Inha 100mcg (200 D) CFF
1   B12 9LP    425   3323                   Paracet_Tab 500mg
2   B18 7AL    556   5293  Salbutamol_Inha 100mcg (200 D) CFF
3   B21 9RY   1033   6924             Metformin HCl_Tab 500mg
4   B23 6DJ    599   9096    Lansoprazole_Cap 30mg (E/C Gran)

In [40]:
total_items_sorted = total_items.sort_values('items', ascending = False).groupby('post_code').first()

In [41]:
s = total_items_by_postcode.groupby('post_code')[['items']].sum().reset_index()

In [103]:
final_df = s.merge(total_items_sorted, on='post_code')
final_df.head()

  post_code  items_x  items_y  index                            bnf_name
0   B11 4BW    22731      706   1628  Salbutamol_Inha 100mcg (200 D) CFF
1   B12 9LP    17073      425   3323                   Paracet_Tab 500mg
2   B18 7AL    20508      556   5293  Salbutamol_Inha 100mcg (200 D) CFF
3   B21 9RY    31027     1033   6924             Metformin HCl_Tab 500mg
4   B23 6DJ    28011      599   9096    Lansoprazole_Cap 30mg (E/C Gran)

In [109]:
final_df['proportion'] = final_df['items_y'] / final_df['items_x']
final_df['proportion'].head()

0    0.031059
1    0.024893
2    0.027111
3    0.033294
4    0.021384
Name: proportion, dtype: float64

#### Result

In [110]:
result = final_df[['post_code','bnf_name','proportion']]

In [111]:
result = result.head(100)
values = result.values.tolist()

In [112]:
final_result = []

for value in values:
    final_result.append(tuple(value))

In [113]:
def items_by_region():
    return final_result

In [92]:
print(items_by_region())

[('B11 4BW', 'Salbutamol_Inha 100mcg (200 D) CFF', 32.196883852691215), ('B12 9LP', 'Paracet_Tab 500mg', 40.17176470588235), ('B18 7AL', 'Salbutamol_Inha 100mcg (200 D) CFF', 36.884892086330936), ('B21 9RY', 'Metformin HCl_Tab 500mg', 30.035818005808324), ('B23 6DJ', 'Lansoprazole_Cap 30mg (E/C Gran)', 46.76293823038397), ('B61 0AZ', 'Omeprazole_Cap E/C 20mg', 34.827044025157235), ('B70 7AW', 'Paracet_Tab 500mg', 39.783589743589744), ('B72 1RL', 'Omeprazole_Cap E/C 20mg', 49.43455497382199), ('B8 1RZ', 'Metformin HCl_Tab 500mg', 46.84334203655352), ('B9 5PU', 'Ventolin_Evohaler 100mcg (200 D)', 40.28031145717464), ('B90 3LX', 'Omeprazole_Cap E/C 20mg', 37.08496732026144), ('BA5 1XJ', 'Omeprazole_Cap E/C 20mg', 35.3840877914952), ('BB11 2DL', 'Omeprazole_Cap E/C 20mg', 36.520686175580224), ('BB2 1AX', 'Omeprazole_Cap E/C 20mg', 29.16990291262136), ('BB3 1PY', 'Omeprazole_Cap E/C 20mg', 30.59657570893526), ('BB4 5SL', 'Omeprazole_Cap E/C 20mg', 26.683110367892976), ('BB4 7PL', 'Omeprazole_Cap E/C 20mg', 36.393416927899686), ('BB7 2JG', 'Omeprazole_Cap E/C 20mg', 35.73896499238965), ('BB8 0JZ', 'Atorvastatin_Tab 20mg', 46.47758761206194), ('BB9 7SR', 'Omeprazole_Cap E/C 20mg', 44.49066959385291), ('BD16 4RP', 'Lansoprazole_Cap 30mg (E/C Gran)', 43.89761092150171), ('BD19 5AP', 'Lansoprazole_Cap 30mg (E/C Gran)', 48.39754816112084), ('BD3 8QH', 'Atorvastatin_Tab 40mg', 31.582753824756605), ('BD4 7SS', 'Atorvastatin_Tab 40mg', 29.204042348411935), ('BH14 0DJ', 'Omeprazole_Cap E/C 20mg', 35.22452229299363), ('BH18 8EE', 'Omeprazole_Cap E/C 20mg', 36.91076115485564), ('BH23 3AF', 'Omeprazole_Cap E/C 20mg', 28.2), ('BL1 3RG', 'Omeprazole_Cap E/C 20mg', 29.7391874180865), ('BL1 8TU', 'Omeprazole_Cap E/C 20mg', 36.06304079110012), ('BL2 6NT', 'Omeprazole_Cap E/C 20mg', 36.82328190743338), ('BL3 5HP', 'Omeprazole_Cap E/C 20mg', 31.94956140350877), ('BL9 0NJ', 'Omeprazole_Cap E/C 20mg', 31.213358070500927), ('BL9 0SN', 'Omeprazole_Cap E/C 20mg', 32.35770234986945), ('BN1 6AG', 'Lansoprazole_Cap 15mg (E/C Gran)', 45.96533795493934), ('BN1 8DD', 'Aspirin Disper_Tab 75mg', 46.47304347826087), ('BN9 9PW', 'Omeprazole_Cap E/C 20mg', 53.89912280701754), ('BR2 9GT', 'Influenza_Vac Inact 0.5ml Pfs', 23.24662162162162), ('BR3 3FD', 'Omeprazole_Cap E/C 20mg', 34.892911010558066), ('BS16 3TD', 'Omeprazole_Cap E/C 20mg', 26.64721141374838), ('BS23 3HQ', 'Omeprazole_Cap E/C 20mg', 33.06198655713219), ('BS4 1WH', 'Omeprazole_Cap E/C 20mg', 33.7828947368421), ('BS4 4HU', 'Omeprazole_Cap E/C 20mg', 26.765625), ('BS48 2XX', 'Omeprazole_Cap E/C 20mg', 33.10452961672474), ('CA11 8HW', 'Omeprazole_Cap E/C 20mg', 35.88264794383149), ('CB22 3HU', 'Omeprazole_Cap E/C 20mg', 25.789329685362517), ('CB9 8HF', 'Omeprazole_Cap E/C 20mg', 29.488864747419882), ('CH1 4DS', 'Lansoprazole_Cap 30mg (E/C Gran)', 38.79936305732484), ('CH41 8DB', 'Omeprazole_Cap E/C 20mg', 30.050492610837438), ('CH44 5UF', 'Omeprazole_Cap E/C 20mg', 30.054083885209714), ('CH62 5HS', 'Omeprazole_Cap E/C 20mg', 26.46984698469847), ('CH62 6EE', 'Influenza_Vac Inact 0.5ml Pfs', 17.365363735070577), ('CH65 6TG', 'Lansoprazole_Cap 30mg (E/C Gran)', 38.361918604651166), ('CH66 3PB', 'Lansoprazole_Cap 30mg (E/C Gran)', 32.25162127107652), ('CM18 6LY', 'Omeprazole_Cap E/C 20mg', 37.813880126182966), ('CR0 0JA', 'Salbutamol_Inha 100mcg (200 D) CFF', 46.35697940503432), ('CT11 8AD', 'Omeprazole_Cap E/C 20mg', 44.82889733840304), ('CV1 4FS', 'Omeprazole_Cap E/C 20mg', 35.14298561151079), ('CV12 8NQ', 'Omeprazole_Cap E/C 20mg', 37.8146186440678), ('CV21 2DN', 'Omeprazole_Cap E/C 20mg', 24.373062015503876), ('CV6 2FL', 'Omeprazole_Cap E/C 20mg', 27.585701981050818), ('CV6 6DR', 'Omeprazole_Cap E/C 20mg', 32.73888091822095), ('CW1 3AW', 'Omeprazole_Cap E/C 20mg', 28.10363790186125), ('CW5 5NX', 'Omeprazole_Cap E/C 20mg', 28.95489781536293), ('CW7 1AT', 'Omeprazole_Cap E/C 20mg', 27.274924471299094), ('DA1 2HA', 'Omeprazole_Cap E/C 20mg', 51.96160877513711), ('DA11 8BZ', 'Amoxicillin_Cap 500mg', 50.795366795366796), ('DN16 2AB', 'Amlodipine_Tab 5mg', 50.1875), ('DN22 7XF', 'Simvastatin_Tab 40mg', 53.69311551925321), ('DN31 3AE', 'Omeprazole_Cap E/C 20mg', 29.129445234708392), ('DN34 4GB', 'Omeprazole_Cap E/C 20mg', 26.957754010695187), ('DN6 0HZ', 'Paracet_Tab 500mg', 38.81369863013698), ('DN8 4BQ', 'Lansoprazole_Cap 30mg (E/C Gran)', 46.07644882860666), ('DY11 6SF', 'Omeprazole_Cap E/C 20mg', 47.43414634146342), ('E15 4ES', 'Amlodipine_Tab 10mg', 38.92461197339246), ('E7 0EP', 'Metformin HCl_Tab 500mg', 26.849289099526068), ('FY2 0JG', 'Omeprazole_Cap E/C 20mg', 27.56614563476935), ('FY4 1TJ', 'Omeprazole_Cap E/C 20mg', 23.070824524312897), ('FY5 2TZ', 'Omeprazole_Cap E/C 20mg', 28.245339747444376), ('FY5 3LF', 'Omeprazole_Cap E/C 20mg', 28.471480582524272), ('FY7 8GU', 'Omeprazole_Cap E/C 20mg', 31.193384223918574), ('FY8 5DZ', 'Omeprazole_Cap E/C 20mg', 33.670482420278006), ('GL1 3PX', 'Omeprazole_Cap E/C 20mg', 38.92898272552783), ('GL20 5GJ', 'Omeprazole_Cap E/C 20mg', 41.4475), ('GL50 4DP', 'Omeprazole_Cap E/C 20mg', 41.65097402597402), ('GU9 9QS', 'Omeprazole_Cap E/C 20mg', 36.9651795429815), ('HA0 4UZ', 'Metformin HCl_Tab 500mg', 35.89910979228487), ('HA3 7LT', 'Omeprazole_Cap E/C 20mg', 39.92596944770858), ('HD6 1AT', 'Lansoprazole_Cap 30mg (E/C Gran)', 47.57946210268948), ('HG1 5AR', 'Omeprazole_Cap E/C 20mg', 35.18042813455658), ('HR1 2JB', 'Omeprazole_Cap E/C 20mg', 35.05131128848347), ('HR6 8HD', 'Omeprazole_Cap E/C 20mg', 36.7539393939394), ('HU7 4DW', 'Salbutamol_Inha 100mcg (200 D) CFF', 39.05053598774885), ('HU9 2LJ', 'Lansoprazole_Cap 30mg (E/C Gran)', 41.11975524475525), ('IG7 4DF', 'Amlodipine_Tab 5mg', 51.11231101511879), ('IP22 4WG', 'Omeprazole_Cap E/C 20mg', 35.07424071991001), ('KT12 3LB', 'Omeprazole_Cap E/C 20mg', 54.69047619047619), ('KT14 6DH', 'Amlodipine_Tab 5mg', 53.56792452830189), ('KT16 8HZ', 'Amlodipine_Tab 5mg', 51.760598503740646), ('KT6 6EZ', 'Omeprazole_Cap E/C 20mg', 35.44444444444444), ('L31 0DJ', 'Omeprazole_Cap E/C 20mg', 33.9839518555667)]

In [114]:
items_by_region = items_by_region()

In [115]:
grader.score.dw__items_by_region(items_by_region)

==================
Your score:  1.0
==================

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [116]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

In [118]:
opioids_join = '|'.join(opioids)
opioids_join

'morphine|oxycodone|methadone|fentanyl|pethidine|buprenorphine|propoxyphene|codeine'

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [117]:
chem = pd.read_csv(gzip.open('./dw-data/chem.csv.gz', 'r'))
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

In [126]:
opioid_codes = chem.loc[chem['NAME'].str.contains(opioids_join, case=False)]['CHEM SUB'].tolist()
len(opioid_codes)

35

In [127]:
chem_new = chem
chem_new.columns = ['bnf_code','chem_name']
chem_new.head()

    bnf_code                           chem_name
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

In [119]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [120]:
scripts.shape

(973193, 7)

In [121]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [123]:
script = scripts
script.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [128]:
script['opioid_prescription'] = script['bnf_code'].isin(opioid_codes)

In [129]:
practice = practices[['code', 'name']]
practice.columns = ['practice', 'name']
practice.head()

  practice                        name
0   A81001         THE DENSHAM SURGERY
1   A81002  QUEENS PARK MEDICAL CENTRE
2   A81003   VICTORIA MEDICAL PRACTICE
3   A81004      WOODLANDS ROAD SURGERY
4   A81005          SPRINGWOOD SURGERY

In [131]:
len(script.loc[script['opioid_prescription']])

34843

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [134]:
opioids_per_practice = script.groupby('practice')['opioid_prescription'].mean().rename('frac')
opioids_per_practice.head()

practice
A81005    0.033179
A81007    0.043329
A81011    0.046556
A81012    0.042793
A81017    0.038140
Name: frac, dtype: float64

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [136]:
relative_opioids_per_practice = script.groupby('practice')['opioid_prescription'].mean().rename('frac_std')
relative_opioids_per_practice.head()

practice
A81005    0.033179
A81007    0.043329
A81011    0.046556
A81012    0.042793
A81017    0.038140
Name: frac_std, dtype: float64

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [137]:
overall_rate = script['opioid_prescription'].mean()
overall_rate

0.03580276471367961

In [152]:
pract = practices[['code', 'name']]
pract.columns = ['practice', 'name']
pract.head()

  practice                        name
0   A81001         THE DENSHAM SURGERY
1   A81002  QUEENS PARK MEDICAL CENTRE
2   A81003   VICTORIA MEDICAL PRACTICE
3   A81004      WOODLANDS ROAD SURGERY
4   A81005          SPRINGWOOD SURGERY

In [139]:
overall_rate_std = script['opioid_prescription'].std()
overall_rate_std

0.18579817605238425

In [141]:
relative_opioids_per_practice = (opioids_per_practice - overall_rate).rename('relative')
relative_opioids_per_practice.head()

practice
A81005   -0.002624
A81007    0.007526
A81011    0.010753
A81012    0.006990
A81017    0.002337
Name: relative, dtype: float64

In [143]:
opioid = script.groupby('practice')['opioid_prescription'].sum().rename('opioid')
opioid.head()

practice
A81005    50.0
A81007    63.0
A81011    73.0
A81012    57.0
A81017    82.0
Name: opioid, dtype: float64

In [145]:
total = script.groupby('practice')['bnf_code'].count().rename('total')
total.head()

practice
A81005    1507
A81007    1454
A81011    1568
A81012    1332
A81017    2150
Name: total, dtype: int64

In [146]:
standard_error_per_practice = (overall_rate_std/(total**0.5)).rename('std_err')
standard_error_per_practice.head()

practice
A81005    0.004786
A81007    0.004873
A81011    0.004692
A81012    0.005091
A81017    0.004007
Name: std_err, dtype: float64

In [147]:
opioid_scores = (relative_opioids_per_practice/standard_error_per_practice).rename('opioid_scores')
opioid_scores.head()

practice
A81005   -0.548306
A81007    1.544557
A81011    2.291795
A81012    1.373060
A81017    0.583168
Name: opioid_scores, dtype: float64

In [148]:
merged = pd.concat([opioid, total, opioids_per_practice, relative_opioids_per_practice, standard_error_per_practice,opioid_scores], axis=1)

In [149]:
merged = merged.reset_index()

In [150]:
type(merged)

pandas.core.frame.DataFrame

In [151]:
merged.shape

(856, 7)

In [154]:
final_df = merged.merge(pract, on='practice', how='left')

In [156]:
final_df.sort_values('opioid_scores', ascending = False , inplace=True)
final_df.head()

,practice,opioid,total,frac,relative,std_err,opioid_scores,name
829,Y01852,6.0,7,0.857143,0.821340,0.070225,11.695818,NATIONAL ENHANCED SERVICE
874,Y03006,2.0,2,1.000000,0.964197,0.131379,7.339043,OUTREACH SERVICE NH / RH
895,Y03668,11.0,60,0.183333,0.147531,0.023986,6.150582,BRISDOC HEALTHCARE SERVICES OOH
296,G81703,7.0,36,0.194444,0.158642,0.030966,5.123032,H&R P C SPECIAL SCHEME
948,Y04997,28.0,321,0.087227,0.051425,0.010370,4.958866,HMR BARDOC OOH

In [157]:
final = final_df.drop_duplicates('name')
final.head()

,practice,opioid,total,frac,relative,std_err,opioid_scores,name
829,Y01852,6.0,7,0.857143,0.821340,0.070225,11.695818,NATIONAL ENHANCED SERVICE
874,Y03006,2.0,2,1.000000,0.964197,0.131379,7.339043,OUTREACH SERVICE NH / RH
895,Y03668,11.0,60,0.183333,0.147531,0.023986,6.150582,BRISDOC HEALTHCARE SERVICES OOH
296,G81703,7.0,36,0.194444,0.158642,0.030966,5.123032,H&R P C SPECIAL SCHEME
948,Y04997,28.0,321,0.087227,0.051425,0.010370,4.958866,HMR BARDOC OOH

In [158]:
result = final[['name','opioid_scores','total']]
result.head()

                                name  opioid_scores  total
829        NATIONAL ENHANCED SERVICE      11.695818      7
874         OUTREACH SERVICE NH / RH       7.339043      2
895  BRISDOC HEALTHCARE SERVICES OOH       6.150582     60
296           H&R P C SPECIAL SCHEME       5.123032     36
948                   HMR BARDOC OOH       4.958866    321

In [160]:
result = result.head(100)
values = result.values.tolist()

In [162]:
answer = []

for value in values:
    answer.append(tuple(value))

In [163]:
def detect_anomalies():
    return answer

In [ ]:
standard_error_per_practice = ...
opioid_scores = ...

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [ ]:
unique_practices = ...
anomalies = [("NATIONAL ENHANCED SERVICE", 11.6958178629, 7)] * 100

In [167]:
grader.score.dw__script_anomalies(detect_anomalies)

==================
Your score:  0.9400000000000006
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [168]:
scripts16 = pd.read_csv('./dw-data/201606scripts_sample.csv.gz')

In [169]:
# calculate the growth rate
growth = (scripts.bnf_name.value_counts() - scripts16.bnf_name.value_counts())/scripts16.bnf_name.value_counts()

In [171]:
# Combine the two series in a Dataframe
merged = pd.DataFrame(dict(growth = growth, item16 = scripts16.bnf_name.value_counts())).reset_index()

In [172]:
merged.fillna(0, inplace=True)

In [174]:
#Remove elements with less then 50 prescriptions
merged = merged[merged['item16'] >= 50]

In [175]:
#Sort by growth rate
merged.sort_values(by='growth', ascending = False, inplace=True)

In [178]:
#Pick the top 50 and last 50 and get the tuple list
script_growth = list(pd.concat([merged.head(50), merged.tail(50)]).itertuples(index=False, name=None))

In [179]:
grader.score.dw__script_growth(script_growth)

==================
Your score:  1.0
==================

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [184]:
p = 1/scripts.bnf_code.nunique()

rates = scripts['bnf_code'].value_counts() / len(scripts)

mask = rates < .1 * p

rare_codes = rates[mask].index.unique()

scripts['rare'] = scripts['bnf_code'].isin(rare_codes)

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [185]:
# rare script act_cost per practice/total act_cost per practice
rare_cost_prop = (scripts[scripts['rare']].groupby('practice')['act_cost'].sum()/scripts.groupby('practice')['act_cost'].sum()).fillna(0)

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [186]:
relative_rare_cost_prop = (rare_cost_prop - scripts[scripts['rare']]['act_cost'].sum() /scripts['act_cost'].sum())

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [187]:
standard_error = relative_rare_cost_prop.std()

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [188]:
rare_scores = relative_rare_cost_prop/standard_error
unique_practices = (practices.sort_values('name').groupby('code').first().reset_index())[['code', 'name']].rename(columns={'code':'practice'})

unique_practices.set_index('practice', inplace=True)

rare_scores = pd.concat([unique_practices, rare_scores], axis =1).sort_values(by='act_cost', ascending=False).head(100)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [189]:
rare_scripts = list(rare_scores.itertuples(name=None))

In [190]:
grader.score.dw__rare_scripts(rare_scripts)

==================
Your score:  1.0
==================

*Copyright &copy; 2020 The Data Incubator.  All rights reserved.*